/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 4, 2018, 11:28:41 PM
    Author     : MITHU
*/

.myAnimation{
    width: 200px;
    height: 200px;
    background-color: olive;
    animation-name: delayExample;
    animation-duration: 5s;
    animation-delay: 3s;
}
@keyframes delayExample{
    0%{background-color:olive;}
    25%{background-color:red;}
    50%{background-color:blue;}
    100%{background-color:yellow;}
}
