/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 5, 2018, 11:53:24 AM
    Author     : mithu
*/

.myAnimation{
    animation-name: bounceIn;
    animation-duration: 2s;
}
@keyframes bounceIn{
    0%{
        transform:scale(0.1);
        opacity:0;
    }
    60%{
        transform:scale(2.0);
        opacity:1;
    }
    100%{
        transform:scale(1);
    }
}
/* 

animation: [animation-name] [animation-duration] [animation-timing-function]
           [animation-delay] [animation-iteration-count] [animation-direction]
           [animation-fill-mode] [animation-play-state];

*/